body {
    color: hsl(0, 96%, 50%);
}
h1 {
    color: blueviolet;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
h2  {
    color: black;
}